*{
    font-family: 'Oswald', sans-serif;
    letter-spacing:2px;
}

.app {
    display: grid;
    justify-items: center;
    align-items: center;
    padding:0px;
    overflow: hidden;
}

body{
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}


